* {
  margin: 0;
  padding: 0;
  outline: NONE;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #f3f3f3;
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 75px 80px;
  background-color: #1c2431;
  color: #fff;
}

header {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Raleway", sans-serif;
  padding: auto;
  margin-bottom: 75px;
}

header ul {
  width: 270px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header li {
  cursor: pointer;
}

header li:hover {
  font-weight: bold;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-bottom: 171px;
}

.intro img {
  margin-bottom: 53px;
}

.intro h1 {
  font-size: 40px;
  max-width: 675px;
  margin-bottom: 42px;
}

.intro p {
  max-width: 581px;
  font-family: "Open Sans", sans-serif;
  font-size: 19px;
  line-height: 30px;
  margin-bottom: 35px;
}

.intro button {
  width: 280px;
  height: 56px;
  border-radius: 70px;
  border: none;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.intro button:hover {
  opacity: 0.8;
}

.icons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.icons article {
  max-width: 358px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-bottom: 100px;
}

.icons article:nth-child(odd) {
  margin-right: 10%;
}

.icons article:nth-child(1),
.icons article:nth-child(2) {
  margin-bottom: 100px;
}

/* .icons article img {
  height: 88px;
  width: 96px;
} */

.icons article h1 {
  margin: 25px 0 15px;
}

.icons article p {
  font-size: 14px;
}

.stay-productive {
  font-family: "Raleway", sans-serif;
  margin-bottom: 360px;
}

.stay-productive .row {
  display: flex;
  justify-content: space-between;
}

.stay-productive .row .text-stay-productive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 546px;
}

.stay-productive .row h1 {
  font-size: 40px;
  max-width: 675px;
  margin-bottom: 32px;
}

.stay-productive .row p {
  margin-bottom: 32px;
}

.stay-productive .row a {
  color: #62e4da;
  line-height: 23px;
}

.stay-productive .row a img {
  transform: translateY(3px);
}

.stay-productive .row:nth-child(1) {
  margin-bottom: 175px;
}

.stay-productive .row:nth-child(2) article {
  background-color: #21293c;
  padding: 44px 25px 25px;
  margin: 0 15px;
  border-radius: 5px;
}

.stay-productive .row:nth-child(2) article main p {
  font-size: 12px;
  letter-spacing: 1px;
}

.stay-productive .row:nth-child(2) article footer {
  display: flex;
}

.stay-productive .row:nth-child(2) article footer img {
  height: 25px;
  border-radius: 50%;
  margin-right: 10px;
}

.stay-productive .row:nth-child(2) article footer span {
  display: block;
}

.stay-productive .row:nth-child(2) article footer .name {
  font-size: 10px;
  font-weight: 700;
}

.stay-productive .row:nth-child(2) article footer .office {
  font-size: 8px;
}

.stay-productive .row:nth-child(2) {
  position: relative;
}

.stay-productive .row:nth-child(2)::before {
  content: "";
  background: url("../images/bg-quotes.png") no-repeat;
  width: 60px;
  height: 50px;
  position: absolute;
  top: -40px;
}

.footer {
  padding: 195px 90px 95px;
  max-width: 1440px;
  margin: auto;
  background: #0c1524;
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
}

.footer article:nth-child(1) img {
  margin-bottom: 35px;
}

.footer article:nth-child(1) p {
  max-width: 320px;
  padding-left: 38px;
  position: relative;
  font-size: 14px;
}

.footer article:nth-child(1) p:before {
  content: "";
  background: url("../images/icon-location.svg") no-repeat;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
}

.footer article:not(:nth-child(1)) {
  padding-top: 87px;
}

.footer article:nth-child(2) p {
  padding-left: 38px;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.footer article:nth-child(2) p:hover {
  font-weight: bold;
}

.footer article:nth-child(2) p::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
}

.footer article:nth-child(2) p:nth-child(1):before {
  background: url("../images/icon-phone.svg") no-repeat;
}

.footer article:nth-child(2) p:nth-child(2):before {
  background: url("../images/icon-email.svg") no-repeat;
}

.footer article:nth-child(3) ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 130px;
  font-size: 14px;
  letter-spacing: 1px;
}

.footer article:nth-child(3) ul li {
  margin-bottom: 16px;
  padding-right: 80px;
  cursor: pointer;
}

.footer article:nth-child(3) ul li:hover {
  font-weight: bold;
}

.footer article:nth-child(4) i {
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 8px;
  width: 32px;
  height: 32px;
  text-align: center;
  cursor: pointer;
}

.footer article:nth-child(4) i:nth-child(2) {
  margin: 0 10px 0;
}

.container-footer {
  position: relative;
}

.get-access {
  background-color: #1c2230;
  max-width: 863px;
  height: 274px;
  position: absolute;
  top: -150px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  box-shadow: 4px 4px 8px #08091f56, -4px -4px 8px #08091f56;
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.get-access h1 {
  text-align: center;
  margin-top: 44px;
  font-size: 1.8em;
}

.get-access p {
  text-align: center;
  margin: 22px 122px 37px;
  font-size: 0.9rem;
  max-width: 618px;
}

.get-access .control-form {
  display: flex;
  justify-content: center;
}

.get-access .control-form input {
  height: 48px;
  max-width: 480px;
  flex-basis: 480px;
  margin-right: 30px;
  padding: 0 40px;
}
.get-access .control-form button {
  height: 48px;
  max-width: 200px;
  flex-basis: 200px;
  background: linear-gradient(to right, #65e2d9, #339ecc);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.get-access .control-form button:hover {
  opacity: 0.8;
}

.get-access .control-form input,
.get-access .control-form button {
  border-radius: 40px;
  border: none;
}
